<%content_for :title do "Nuevo cliente" end%>
<div class="row page-header col-md-6 col-md-offset-3">
    <div class="pull-left">
        <h1>Nuevo Cliente</h1>  
    </div>
    <div class="pull-right">
        <%= link_to 'Cancelar', tipos_prendas_path,  class: "btn btn-outline btn-primary" %>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form', cliente: @cliente %>
    </div>
</div>
