<table class="table table-striped table-hover" id="lotes" width="100%">
  <thead>
      <tr>
        <th title="Identificador">#</th>
        <th style="max-width: 40px;"></th>
        <th class="col-md-2" style="min-width: 140px;" title="Cliente">Cliente</th>
        <th class="col-md-3" style="min-width: 80px;" title="Referencia">Referencia</th>
        <th class="col-md-2" title="OP de lote">OP</tsh>
        <th class="col-md-2" title="Cantidad">Cantidad</th>
        <th class="col-md-3" title="Descripción de la prenda">Descripción</th>
      </tr>
  </thead>
  <%=render "table_tbody"%>
</table>