<table class="table table-striped table-bordered" id="lotes" width="100%" data-source="<%= lotes_path(format: :json, state: params[:state]) %>">
  <thead>
  <tr>
    <th title="Identificador">#</th>
    <th style="max-width: 40px;"></th>
    <th class="col-md-2" style="min-width: 140px;" title="Cliente">Cliente</th>
    <th class="col-md-2" style="min-width: 80px;" title="Referencia">Referencia</th>
    <th class="col-md-1" title="OP de lote">OP</th>
    <th class="col-md-1" title="Cantidad">Cant</th>
    <th class="col-md-2" title="Descripción de la prenda">Descripción</th>
    <%  if can? :prices, Lote %>
    <th class="col-md-2" title="Precio unitario">Precio</th>
    <th class="col-md-2" title="Precio total">Total</th>
    <%  end %>
  </tr>
  </thead>
  <tbody></tbody>
</table>