<% # Fallas en la validación de los campos %>


<% # (DESCRIPCIÓN) Ingreso y actualización del cliente %>
<%if params[:place] == "form_lote_response"%>
    $("#help-descripcion").remove()
    $("#alert").show();
    message = "<span class='help-block' id='help-descripcion'><%=@tipo_prenda.errors[:tipo].first%></span>"
    $("#tipo_prenda_tipo").parent().addClass("has-error").append(message);


<% # (CLIENTE) Ingreso y actualización del cliente %>
<%elsif params[:place] == "form_lote_cliente_response"%>
    $(".help-cliente").remove()
    $("#alert").show();
    message_email = "<span class='help-block help-cliente'><%=@cliente.errors[:email].first%></span>"
    message_cliente = "<span class='help-block help-cliente'><%=@cliente.errors[:cliente].first%></span>"
    $("#cliente_email").parent().addClass("has-error").append(message_email);
    $("#cliente_cliente").parent().addClass("has-error").append(message_email);
    


<% # (SUB PROCESOS) Ingreso y actualización del cliente %>
<%elsif params[:place] == "form_lote_sub_estado_response"%>
    $(".help-sub-proceso").remove()
    message = "<span class='help-block help-sub-proceso'>No puede estar en blanco</span>"
    $("#alert").show();
    <%if !@sub_estado.errors[:sub_estado].empty?%>
        $("#sub_estado_sub_estado").parent().addClass("has-error").append(message);
    <%end%>
    <%if !@sub_estado.errors[:estado].empty?%>
        $("#sub_estado_estado_id").parent().addClass("has-error").append(message);
    <%end%>
<%end%>