<%content_for :title do "Editar lote" end%>
<div class="row page-header">
    <div class="pull-left">
       <h1>Editar lote</h1> 
    </div>
    <div class="pull-right margin">
        <%= link_to 'Atrás', lotes_path, class: 'btn btn-default' %>
    </div>
</div>
<%= render 'form', lote: @lote %>
