<% content_for :title do  "Lotes" end%>
<div class="panel panel-default page-header">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10">
        <h1>Lotes</h1>
      </div>
      <div class="col-sm-2">
        <div class="text-right">
          <%if @rol_form ==("coor_integracion") || @rol_form ==("admin") || 
          @rol_form ==("coor_tiempos")%>
          <h1>
            <%= link_to new_lote_path, {:title => "Nuevo lote"} do %>
              <%= content_tag :i, "", :class => "fa fa-plus"%>
            <%end%>
          </h1>
          <%end%>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="table-responsive">
        <%=render 'table' %>
    <!--Fin de la lista-->
    </div>
  <!--Tabla responsiva-->
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</div>
