<% content_for :title do  "Lotes" end%>
<div class="panel panel-default page-header">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10">
        <h3>Lotes</h3>
      </div>
      <div class="col-sm-2 text-right">
        <%if can? :create, Lote%>
          <%= link_to new_lote_path, {:title => "Nuevo lote"} do %>
            <%= content_tag :i, "", :class => "fa fa-plus fa-3x"%>
          <%end%>
        <%end%>
      </div>
    </div>

  </div>
  <div class="panel-body">
        <%=render 'table' %>
    <!--Fin de la lista-->
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</div>
