$("#lotes_wrapper").remove();
$(".tab-content").find(".active").html("<%= j render "table" %>");

lotes = $('#lotes');
// targets es un div con los datas de qué columnas se ordenan y buscan (lotes/index.html)
targets = $("#targets");
lotes.DataTable({
  serverSide: true,
  processing: true,
  ajax: {
    url: lotes.data("source"),
    beforeSend: function() {
      var load_state;
      load_state = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
      return lotes.closest(".box").append(load_state);
    },
    complete: function() {
      return lotes.closest(".box").find(".overlay").remove();
    }
  },
  language: {
    search: 'Buscar:&nbsp;',
    lengthMenu: 'Mostrar _MENU_ registros',
    info: 'Resultados _START_ a _END_ de _TOTAL_ ',
    infoEmpty: 'No hay datos o intente de nuevo',
    infoFiltered: '(filtrado de _MAX_ registros)',
    infoPostFix: '',
    loadingRecords: 'Cargando...',
    zeroRecords: 'No se encuentran registros',
    emptyTable: 'No hay datos disponibles',
    paginate: {
      previous: 'Anterior',
      next: 'Siguiente'
    }
  },
  order: [[0, "desc"]],
  columnDefs: [
    {
      className: "no-padding-top no-padding-bottom",
      "targets": targets.data("padding")
    }, {
      'targets': [0],
      'visible': false,
      'searchable': false
    }, {
      'targets': targets.data("orderable"),
      'orderable': false
    }
  ]
});
lotes.parent().addClass("table-responsive");