<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">
        Detalles para el mes
      </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-6"> 
          <h5>Programación de este mes</h5>
          <div id="programacion_mes" style="height: 250px;"></div>
        </div> 
        <div class="col-md-6">  
          <h5>Avance de plantas</h5>
          <div id="relatives" style="height: 250px;"></div>
        </div>
    </div>
  </div>  
</div>