/*
*= require base
*= require dist/css/AdminLTE.min.css
*= require dist/css/skins/_all-skins.min.css
*= require_tree.
*/
@media (max-width: 768px) {
  #page-wrapper{
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  #page-wrapper{
    padding-top: 50px;
  }
}

.margin{
  margin: 20px;
}
.dropdown-menu li:hover {
    cursor: pointer;
}
.table>thead>tr>th {
    vertical-align: 90%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 65px;   
    padding: 5px 7px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

/* Comentado para consevar el borde en los mensaje flotantes */
.ui-state-hover, .ui-state-active{
    color: #0ACD0A;
    border: 1px solid #0ACD0A;
    text-decoration: none;
    background-color: #F1FEEC;
    background-image: none;
}


.ui-widget-content {
  z-index: 10;
}

.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}