@import "font-awesome";
@import "bootstrap_sb_admin_base_v2";
@import "jquery-ui/datepicker";
@import "jquery-ui/core";
@import "jquery-ui/theme";


@media (max-width: 768px) {
  #page-wrapper{
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  #page-wrapper{
    padding-top: 50px;
  }
}

.margin{
  margin: 20px;
}
.dropdown-menu li:hover {
    cursor: pointer;
}
.table>thead>tr>th {
    vertical-align: 90%;
}
