@media (max-width: 767px) {
    .table-responsive{
        overflow: auto;
    }
}
@media (min-width: 768px) {
    .table-responsive{
        overflow: visible;
    }
}

#date-programing, .datepicker{
	position: relative; 
	z-index: 100000;
}