// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company_selected:hover{
  background-color: #dfdfdf !important;
  cursor: pointer;
}
.static_pages .affix {
  top: 20px;
}
@media (max-width: 991px) {
  .static_pages .affix {
    top: 20px;
    display: none;
  }
}