<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, :class => "navbar-brand" do %>
        Producción
      <% end %>
    </div>
  </div>
</nav>