
    <div class="jumbotron">
      <h4 class="text-center">Hola <%= @resource.name %></h4>

      <p>Has solicitado un cambio de contraseña, ingresa al enlace abajo para hacerlo: </p>

      <p class="well-lg"><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

      <p>Si no lo solicitaste por favor ignora este mensaje.</p>
      <p>Tu contraseña no cambiará a menos que ingreses al enlace y crees una nueva.</p>
    </div>

    <blockquote class="blockquote-reverse">
      Sistema de producción Confecab & DyC <br>
      NIT: 900 355 811 5 <br>
      Copyright &copy; 2016 Confecab <br>
    </blockquote>