<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado un cambio de contrase침a, ingresa a este enlace para hacerlo: </p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo solicitaste por favor ignora este mensaje.</p>
<p>Tu contrase침a no cambiar치 a menos que ingreses al enlace y crees una nueva.</p>
