<ul class="nav nav-tabs" role="tablist">
	<%@years.each do |year|%>
		<li class="active"><a data-toggle="tab" href="#<%=year%>"><%=year%></a></li>
	<%end%>	
</ul>
<%@years.each do |year|%>
	<div class="tab-content">
	  <%= render "meses", year: year%>
	</div>
<%end%>

<div class="modal fade" id="modal_add"  tabindex="-1" role="dialog" 
 aria-labelledby="modalAddLabe" aria-hidden="true"></div>