<footer class="footer" id="footer">
    <div class="navbar navbar-default navbar-static-bottom">
        <div class="row">
            <div class="col-lg-4 text-left">
                <div class="navbar-brand text-muted">
                    Teléfono: 444 45 25 <br>
                    Nit: 900 355 811-5
                </div>
            </div>
            <div class="col-lg-4 text-center">
              <%=image_tag('cab.png', size: '132x82')%>
            </div>
            <div class="col-lg-4 text-right">
              <%=image_tag('dyc.jpg', size: '132x82')%>
            </div>
        </div>
    </div>
</footer>