<footer class="footer" style="margin-top: 1em;" id="footer">
    <div class="navbar navbar-default navbar-static-bottom">
        <div class="row">
            <div class="col-lg-4 text-left">
                <div class="navbar-brand text-muted" title="Datos de contacto">
                    Teléfono: 444 45 25 <br>
                    Nit: 900 355 811-5
                </div>
            </div>
            <div class="col-lg-4 text-center">
              <%=image_tag('cab.png', size: '132x82', alt: "Confecab")%>
            </div>
            <div class="col-lg-4 text-right">
              <%=image_tag('dyc.jpg', size: '132x82', alt: "Diseños y camisas")%>
            </div>
        </div>
    </div>
</footer>