<li class="active">
    <a href="/" title="Lotes" class="item"><i class="fa fa-fw fa-dashboard"></i>&nbsp;&nbsp;Lotes</a>
</li>
<li class="active">
    <%date_current = Time.new%>
	<%=link_to "Programaciones", programaciones_path(:month => date_current.strftime("%Y%m"))%>
</li>
<%if (can? :manage, ControlLote) || (can? :read, ControlLote)  %>
<li>
    <a href="/control_lotes" title="Historial" class="item"><i class="fa fa-history"></i>&nbsp;&nbsp;&nbsp;Historial</a>
</li>
<%end%>

<% if (can? :manage, Referencia) || (can? :read, Referencia) %>
<li>
    <a href="/tipos_prendas" title="Tablas" class="item"><i class="fa fa-table fa-fw"></i>&nbsp;Tablas</a>
</li>
<%end%>
<%if (can? :manage, User) || (can? :read, User)%>
<li>
    <%=link_to users_path, :title => "Usuarios", class: "item" do%>
        <%=content_tag :i, "", :class => "fa fa-users"%>
        &nbsp;Usuarios
    <%end%>
</li>
<%end%>
