<%# add navigation links_ul to this file %>
<%if user_signed_in?%>
<li><%=current_user.name%></li>
<%end%>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="/users/edit"><i class="fa fa-gear fa-fw"></i> Actualizar datos</a>
        </li>
        <li class="divider"></li>
        <li>
            <%=link_to 'Salir', destroy_user_session_path, :method=>'delete' %>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>

