<li class="active">
    <a href="/"><i class="fa fa-fw fa-dashboard"></i>&nbsp;&nbsp;Lotes</a>
</li>
<%if (can? :manage, ControlLote) || (can? :read, ControlLote)  %>
<li>
    <a href="/control_lotes"><i class="fa fa-history"></i>&nbsp;&nbsp;&nbsp;Historial</a>
</li>
<%end%>

<% if (can? :manage, Referencia) || (can? :read, Referencia) %>
<li>
    <a href="/tipos_prendas"><i class="fa fa-table fa-fw"></i>&nbsp;Tablas</a>
</li>
<%end%>
<%if (can? :manage, User) || (can? :read, User)%>
<li>
    <%=link_to users_path do%>
        <%=content_tag :i, "", :class => "fa fa-users"%>
        &nbsp;Usuarios
    <%end%>
</li>
<%end%>
