<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= stylesheet_link_tag 'mailer' %>
    </style>
  </head>
  <body>
    <%=yield%>
  </body>
</html>
